// Variables
$blue: #1a76b8;
$grey: #eeeeee;
$lightred: #E57373;
$white: #fff;
$dark: #424242;
$black: #000;
$gray: #4e4e4e;

html {
    font-size: 12px;
    font-family: sans-serif;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-weight: 400;
    margin: 10px auto 10px auto;
    color: #fff
}
