html {
  font-size: 12px;
  font-family: sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin: 10px auto 10px auto;
  color: #fff;
}

#app {
  height: 100%;
}

body {
  background-color: #f4f4f4;
}

body a {
  text-decoration: none;
  color: #000;
}

body a :hover {
  color: #E57373;
  text-decoration: underline;
}

.menu-item.header-link.nav-button {
  color: #fff;
}

.page-container {
  height: 100%;
  width: 100%;
}

.ui.nav-bar {
  background-color: #b71c1c;
  height: 50px;
}

.search-bar {
  width: 400px;
  margin: 10px auto;
  padding-bottom: 10px;
}

.search-bar .search-button {
  margin-left: 10px;
}

.search-bar .ui.input.focus > input,
.search-bar .ui.input > input:focus {
  border-color: #e53935;
}

.character-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin: 0px auto;
}

.character-grid .character-single {
  display: none;
  max-width: 1200px;
  margin: 0px auto;
}

.character-grid .character-single h3 {
  font-size: 1.4rem;
}

.character-grid .character-single p {
  font-size: 1.5rem;
}

.grid-photo {
  width: 300px;
}

.grid-figure, .single-photo {
  -ms-flex-preferred-size: 2.68rem;
      flex-basis: 2.68rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 0 0 5px rgba(229, 115, 115, 0.03);
          box-shadow: 0 0 0 5px rgba(229, 115, 115, 0.03);
  position: relative;
}

.single-photo {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: whitesmoke;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-photo .grid-figure, .single-photo .single-photo {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 2rem 0 0;
  border: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  max-width: 60%;
}

.single-photo .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  max-width: 40%;
}

.character-name {
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
}

.loading-text, .centered {
  font-size: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dark-button {
  width: 110px;
  height: 32px;
  margin: 5px;
  margin-top: 7px;
  color: #fff;
}

/* Dark Theme */
.dark, .dark html {
  color: #ffffff;
  background: #424242;
}

.dark {
  /*
    .countdown-svg {

        .countdown-circle {
            stroke: $grey;
        }
    }
    */
}

.dark .page {
  background-color: #424242;
}

.dark .page .page-container {
  background-color: #424242;
}

.dark a {
  color: #eeeeee;
}

.dark a :hover {
  text-decoration: underline;
  color: #E57373;
}

.dark input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

.dark .search-bar .search-bar:focus {
  border-color: #4285f4;
}

.dark .ui.nav-bar {
  background-color: #3367d6;
}

.dark .dark-button.ui.red.medium.button.search-button {
  background-color: #3368FD;
}

.dark .homepage-heading {
  color: #fff;
}

.dark .countdown-name {
  color: #fff;
}

.dark .countdown-item {
  color: #fff;
}

.dark .countdown-item span {
  color: #fff;
}

.dark .search-bar .ui.input.focus > input, .dark .search-bar .ui.input > input:focus {
  border-color: #507aec;
}

.dark .search-bar .ui.red.large.button.search-button {
  background-color: #3368FD;
}

.dark .grid-figure, .dark .single-photo {
  background: #424242;
  -webkit-box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.03);
          box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.03);
}

/*Dark theme end*/
.ui.red.button,
.ui.red.buttons .button {
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.page-header {
  font-size: 1.5rem;
}

.homepage-heading {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.menu-item {
  color: #fff;
  font-size: 14px;
}

.menu-item :focus {
  -webkit-box-shadow: #ec0808;
          box-shadow: #ec0808;
}

.countdown-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.countdown-name {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 10px;
}

.footer {
  padding: .75rem 1.25rem;
  display: block;
}

.footer :last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.footer h4 {
  font-size: 1.5rem;
}
