@import "./typography";
@import "./variables";

#app {
    height: 100%;
}

body {
    background-color: $light_bg;

    a {
        text-decoration: none;
        color: $black;
        
        :hover {
            color: $lightred;
            text-decoration: underline;
        }

    }
}

.nav-button a{
    color: $white;
    
}

.nav-button a:hover {
    color: #1e70bf;
}


.page-container {
    height: 100%;
    width: 100%;
}

.ui.nav-bar {
    background-color: $light_main;
    height: 50px;
}


.search-bar {
    width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;

    .search-button {
        margin-left: 10px;
    }

    .ui.input.focus > input,
    .ui.input > input:focus {
        border-color: #e53935;
    }
}

.character-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0px auto;

    .character-single {
        // display: none;
        max-width: 100%;
        margin: 0px auto;
    }
}

.grid-photo {
    width: 300px;
}

.grid-figure {
    flex-basis: $calc_flex_basis;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem;

    // border-radius: 25px;
    background: white;
    box-shadow: 0 0 0 5px rgba(229, 115, 115, 0.03);
    position: relative;
}

.single-photo {
    @extend .grid-figure;

    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background: whitesmoke;
    margin-bottom: 20px;
    margin-top: 20px;

    .grid-figure {
        box-shadow: none;
        margin: 0 2rem 0 0;
        border: 0;
        padding: 0;
        flex: 1 0 60%;
        max-width: 60%;
    }

    .description {
        flex: 1 0 40%;
        max-width: 40%;
    }
}

.character-name {
    text-align: center;
    padding: 5px;
}

.dark-button {
    width: 110px;
    height: 32px;
    margin: 5px;
    margin-top: 7px;
    color: #fff;
}

/* Dark Theme */

.dark, .dark html {
    height: 100%;
    width: 100%;
    color: #ffffff;
    background: $dark_bg;
}

.dark {

    .page {
        background-color: $dark_bg;
        
        .page-container {
            background-color: $dark_bg;
        }
    }

    a {
        color: $grey;
        :hover {
            text-decoration: underline;
            color: $lightred;
        }
    }

    input {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        margin-right: 10px;
        border: 1px solid #dddddd;
    }

    .search-bar .search-bar:focus {
        border-color: #4285f4
    }

    .ui.nav-bar {
        background-color: #3367d6;
    }

    .nav-button a:hover {
        color: $lightred;
    }

    .dark-button.ui.red.medium.button.search-button {
        background-color: #3368FD;
    }

    .countdown-name {
        color: $white;
        // font-size: 1.6rem;
    }

    .countdowntext-time {
        color: $white;

        span {
            color: $white;
        }
    }

    .search-bar {

        .ui.input.focus > input,.ui.input > input:focus {
            border-color: #507aec;
        }

        .ui.red.large.button.search-button {
            background-color: #3368FD;
        }

    }

    // Grid

    .grid-figure {
        background: $dark_bg;
        box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.03);
    }

    // Countdown Card Header
    .card-header {
        background: linear-gradient(to right, #3368FD, #696969);;
    }

}

/*Dark theme end*/

.ui.red.button,
.ui.red.buttons .button {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdowns {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.card {
    width: 40%;
    backdrop-filter: $light_bg;
    // border-top: 1px solid $light_main;
    margin-bottom: 50px;
    transition: 0.3s;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-header {
    padding: 50px 10px;
    background: linear-gradient(to right, $light_main, #696969);
    color: $light_bg;
}

.card-body {
    padding: 30px 20px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 10px;
}

.footer {
    padding: .75rem 1.25rem;
    display: block;
    :last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }

    h4 {
        font-size: 1.5rem;
    }
}