html {
  font-size: 0.75rem;
  font-family: sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin: 10px auto 10px auto;
  color: #fff;
}

body a {
  text-decoration: none;
  color: #000;
}
body a :hover {
  color: #e57373;
  text-decoration: underline;
}

.character-single h3 {
  font-size: 1.4rem;
}
.character-single p {
  font-size: 1.5rem;
}
.character-single .character-name {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}
.character-single .description {
  text-align: justify;
}

.character-name {
  font-size: 1.3rem;
}

.loading-text, .centered {
  font-size: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-button a {
  color: #fff;
}

.nav-button a:hover {
  color: #1e70bf;
}

.page-header {
  font-size: 2.5rem;
}

.homepage-heading {
  font-size: 2.2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}

.menu-item {
  color: #fff;
  font-size: 14px;
}
.menu-item :focus {
  box-shadow: #ec0808;
}

.countdowntext-time {
  color: #000;
}
.countdowntext-time .countdown-span {
  display: table-caption;
}
.countdowntext-time span {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  display: block;
}

.countdown-item {
  color: #111;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.875rem;
  margin: 0.625rem;
  padding-top: 0.625rem;
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
}
.countdown-item span {
  color: #333;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-name {
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.card-header {
  font-size: 0.75rem;
  text-align: center;
}

.card-body {
  text-align: center;
  font-size: 1.4rem;
}

.character-name {
  text-align: center;
  padding: 5px;
}

/* Dark Theme */
.dark-button {
  color: #fff;
}

.dark,
.dark html {
  color: #fff;
}

.dark .homepage-heading {
  color: #fff;
}
.dark .countdown-item {
  color: #fff;
}
.dark .countdown-item span {
  color: #fff;
}
.dark .ui.vertical.labeled.icon.ui.overlay.left.visible.sidebar.nav-sidebar.menu a {
  color: #fff;
}
.dark .ui.menu a.item {
  color: #fff;
}
.dark a {
  color: #eeeeee;
}
.dark a :hover {
  text-decoration: underline;
  color: #e57373;
}
.dark .card > a * {
  text-decoration: none;
  color: #fff;
}
.dark .card > a:hover * {
  text-decoration: none;
  color: #fff;
}
.dark .nav-button a:hover {
  color: #e57373;
}
.dark .countdown-name {
  color: #fff;
}
.dark .countdowntext-time {
  color: #fff;
}
.dark .countdowntext-time span {
  color: #fff;
}

.card > a * {
  text-decoration: none;
}
.card > a * > * h3 {
  color: #fff;
}
.card > a:hover * {
  text-decoration: none;
}
.card > a:hover * > * h3 {
  color: #fff;
}

.footer h4 {
  font-size: 1.5rem;
}

@media screen and (max-width: 540px) {
  .character-single h3 {
    font-size: 1.2rem;
  }
  .character-single p {
    font-size: 1.3rem;
  }
  .character-single .character-name {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .character-single .description {
    text-align: justify;
  }
  .character-name {
    font-size: 1.1rem;
  }
  .page-header {
    font-size: 1.5rem;
  }
  .homepage-heading {
    font-size: 2rem;
  }
  .countdown-item {
    font-size: 1.8rem;
  }
  .countdown-item span {
    font-size: 0.75rem;
  }
  .countdown-name {
    font-size: 1rem;
  }
  .countdowntext-time span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
  }
  .card-header {
    font-size: 0.75rem;
  }
  .card-body {
    font-size: 1rem;
  }
}
#app {
  height: 100%;
}

body {
  background-color: #f4f4f4;
}

.page-container {
  height: 100%;
  width: 100%;
}

.page-header {
  margin: 10px auto;
  line-height: inherit;
}

.link-list {
  min-height: 100vh;
}

.ui.nav-bar {
  background-color: #b71c1c;
  height: 50px;
}

.ui.vertical.labeled.icon.ui.overlay.left.visible.sidebar.nav-sidebar.menu {
  background-color: #f4f4f4;
}

.ui.vertical.menu {
  background-color: #f4f4f4;
}

.search-bar {
  width: 308px;
  margin: 10px auto;
  padding-bottom: 10px;
}
.search-bar .search-button {
  margin-left: 10px;
}
.search-bar .ui.input.focus > input,
.search-bar .ui.input > input:focus {
  border-color: #e53935;
}

.character-grid, .character-grid-single {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0px auto;
}
.character-grid .character-single, .character-grid-single .character-single {
  max-width: 100%;
  margin: 0px auto;
}
.character-grid .character-single .description, .character-grid-single .character-single .description {
  padding: 0px 20px;
}

.character-grid-single {
  display: block;
}

.grid-photo {
  width: 300px;
}

.grid-figure, .single-photo {
  flex-basis: 2.68rem;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 0 5px rgba(229, 115, 115, 0.03);
  position: relative;
}

.single-photo {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  background: whitesmoke;
  margin-bottom: 20px;
  margin-top: 20px;
}
.single-photo .grid-figure, .single-photo .single-photo {
  box-shadow: none;
  margin: 0 2rem 0 0;
  border: 0;
  padding: 0;
  flex: 1 0 60%;
  max-width: 60%;
}
.single-photo .description {
  flex: 1 0 40%;
  max-width: 40%;
}

.dark-button {
  width: 110px;
  height: 32px;
  margin: 5px;
  margin-top: 7px;
}

/* Dark Theme */
.dark,
.dark html {
  height: 100%;
  width: 100%;
  background: #424242;
}

.dark .page {
  background-color: #424242;
}
.dark .page .page-container {
  background-color: #424242;
}
.dark .pushable > * {
  background-color: #424242;
}
.dark .fresnel-container {
  background-color: #424242;
}
.dark .ui.vertical.labeled.icon.ui.overlay.left.visible.sidebar.nav-sidebar.menu {
  background-color: #424242;
}
.dark .ui.menu {
  background-color: #424242;
}
.dark input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}
.dark .search-bar .search-bar:focus {
  border-color: #4285f4;
}
.dark .ui.nav-bar {
  background-color: #3367d6;
}
.dark .dark-button.ui.red.medium.button.search-button {
  background-color: #3368fd;
}
.dark .nav-buttons > button {
  background-color: #3368fd !important;
}
.dark .search-bar .ui.input.focus > input,
.dark .search-bar .ui.input > input:focus {
  border-color: #507aec;
}
.dark .search-bar .ui.red.large.button.search-button {
  background-color: #3368fd;
}
.dark .grid-figure, .dark .single-photo {
  background: #424242;
  box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.03);
}
.dark .card-header {
  background: linear-gradient(to right, #3368fd, #696969);
}
.dark .card-name {
  background: linear-gradient(to right, #3368fd, #696969);
}
.dark .footer {
  background-color: #424242;
}

/*Dark theme end*/
.ui.red.button,
.ui.red.buttons .button {
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.countdowns {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  width: 40%;
  backdrop-filter: #f4f4f4;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card > a {
  text-decoration: none;
}

.countdown-image {
  display: block;
  max-width: 550px;
  max-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card-header {
  padding: 100px 10px;
  max-height: 900px;
  background: linear-gradient(to right, #b71c1c, #696969);
  color: #f4f4f4;
}

.card-name {
  padding: 30px 10px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #b71c1c, #696969);
  color: #f4f4f4;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-reload {
  display: inline;
}

.footer {
  padding: 0.75rem 1.25rem;
  display: block;
}
.footer :last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

@media screen and (max-width: 768px) {
  .countdowns {
    display: grid;
  }
  .card {
    width: 100%;
  }
  .grid-figure, .single-photo {
    padding: 0;
    margin: 2rem auto;
  }
  .card-header {
    padding: 50px 10px;
  }
  .card-name {
    padding: 20px 10px;
  }
}
