@import "./typography";
@import "./variables";

#app {
    height: 100%;
}

body {
    background-color: $light_bg;
}

.page-container {
    height: 100%;
    width: 100%;
}

.page-header {
    margin: 0.625rem auto;
    line-height: inherit;
}

.link-list {
    min-height: 100vh;
}

.ui.nav-bar {
    align-items: center;
    background-color: $light_main;
    height: 50px;
}

.ui.vertical.labeled.icon.ui.overlay.left.visible.sidebar.nav-sidebar.menu {
    background-color: $light_bg;
}

.ui.vertical.menu {
    background-color: $light_bg;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    .search-button {
        margin-left: 0.625rem;
    }

    .ui.input.focus > input,
    .ui.input > input:focus {
        border-color: $light_sec;
    }
}

.character-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0px auto;
    justify-content: center;

    .character-single {
        // display: none;
        max-width: 100%;
        margin: 0px auto;

        .description,
        .extras {
            padding: 20px 20px;
        }
    }
}

.character-grid-single {
    @extend .character-grid;
    display: block;
}

.grid-photo {
    width: 300px;
}

.grid-figure {
    flex-basis: $calc_flex_basis;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem;

    // border-radius: 25px;
    background: white;
    box-shadow: 0 0 0 5px rgba(229, 115, 115, 0.03);
    position: relative;
}

.single-photo {
    @extend .grid-figure;

    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background: whitesmoke;
    margin-bottom: 20px;
    margin-top: 20px;

    .grid-figure {
        box-shadow: none;
        margin: 0 2rem 0 0;
        border: 0;
        padding: 0;
        flex: 1 0 60%;
        max-width: 60%;
    }

    .description {
        flex: 1 0 40%;
        max-width: 40%;
    }
}

.dark-button {
    width: 110px;
    height: 32px;
    margin: 5px;
    margin-top: 7px;
}

/* Dark Theme */

.dark,
.dark html {
    height: 100%;
    width: 100%;
    background: $dark_bg;
}

.dark {
    .page {
        background-color: $dark_bg;

        .page-container {
            background-color: $dark_bg;
        }
    }

    .pushable > *,
    .fresnel-container,
    .ui.vertical.labeled.icon.ui.overlay.left.visible.sidebar.nav-sidebar.menu,
    .ui.menu {
        background-color: $dark_bg;
    }

    input {
        padding: 0.625rem;
        border-radius: 5px;
        outline: none;
        margin-right: 0.625rem;
        border: 1px solid #dddddd;
    }

    .search-bar .search-bar:focus {
        border-color: $dark_sec;
    }

    .ui.nav-bar {
        background-color: $dark_button;
    }

    .dark-button.ui.red.medium.button.search-button,
    .dark-button.ui.red.medium.button.dark-mode-button {
        background-color: lighten($dark_button, 3%);
    }

    .nav-buttons > button {
        background-color: $dark_button !important;
    }

    .search-bar {
        .ui.input.focus > input,
        .ui.input > input:focus {
            border-color: $dark_button;
        }

        .ui.red.large.button.search-button {
            background-color: $dark_button;
        }
    }

    // Grid

    .grid-figure {
        background: lighten($dark_bg, 2%);
        box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.03);
    }

    // Countdown Card Header
    .card-header,
    .card-name {
        background: linear-gradient(to right, $dark_sec, $gradient_end);
    }

    .footer {
        background-color: $dark_bg;
    }
}

/*Dark theme end*/

.ui.red.button,
.ui.red.buttons .button {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.countdowns {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.card {
    width: 40%;
    backdrop-filter: $light_bg;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card > a {
    text-decoration: none;
}

.countdown-image {
    display: block;
    max-width: 550px;
    max-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -0.625rem rgba(0, 0, 0, 0.25);
}

.card-header {
    padding: 100px 0.625rem;
    max-height: 900px;
    background: linear-gradient(to right, $light_main, $gradient_end);
    color: $light_bg;
}

.card-name {
    padding: 30px 0.625rem;
    margin-bottom: 15px;
    background: linear-gradient(to right, $light_main, $gradient_end);
    color: $light_bg;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-reload {
    display: inline;
}

.footer {
    padding: 0.75rem 1.25rem;
    display: block;
    :last-child {
        border-radius: 0 0 $calc_border_rad $calc_border_rad;
    }
}

// Mobile Styles
@media screen and (max-width: 768px) {
    .countdowns {
        display: grid;
    }

    .card {
        width: 100%;
    }

    .grid-figure {
        padding: 0.313rem;
        margin: 2rem auto;
    }

    .card-header {
        padding: 50px 10px;
    }

    .card-name {
        padding: 20px 10px;
    }
}
